#exclude all zip files
*.zip

#exclude all .DS_Store
.DS_Store

#exclude node modules except the things layer
**/nodejs
**/node_modules
!/lambda/thingsLayer/nodejs/node_modules/manageThings
!/lambda/thingsLayer/nodejs/node_modules/lwa